{% load static %}
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<title>Django Multi Tenant </title>

	<!-- Custom: css  -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
	<!-- <script src="https://cdn.tailwindcss.com"></script> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
	<link href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />

	<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css" /> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
	<!-- build:css -->
	<link href="{% static 'assets/css/app.css' %}" rel="stylesheet" type="text/css">
	<!-- endbuild -->
</head>

<body>
	<!-- main page start here  -->
	<div class="section-main">

		<!-- sidebar section end here  -->
		<!-- rightbar section start here  -->
		<div style="width:100%;" class="sidebar-right ">

			<!-- rightbar navbar-menu start here  -->

			<!-- rightbar navbar-menu end here  -->
			<!-- main-content start here  -->
			<div class="main-panel">

				<div class="category-wrap">

					{% for msg in messages %}
					<div class="alert alert-{{msg.tags}} alert-dismissible fade show" role="alert">
						<strong>{{msg.tags}}!</strong> {{msg}}
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					{% endfor %}

					<div class="content-wrapper">
						<section class="content-header">


							<h2 class="header-title">Employee List
							</h2>

						</section>
						<!-- add-product section start here  -->
						<div class="card">
							<div class="card-body d-flex justify-content-end pb-0">
								<button type="button" class="btn btn-primary btn-icon-text" data-bs-toggle="modal"
									data-bs-target="#exampleModal-4">
									<i class="fa-regular fa-plus"></i>
									Add
								</button>
							</div>

							<!-- Add model section start here  -->
							<form method="POST" action="." enctype="multipart/form-data">
								<!-- Security token -->
								{% csrf_token %}
								<div class="add-modal-wrapper">
									<div class="col-md-12 stretch-card">
										<div class="modal fade" id="exampleModal-4" tabindex="-1" role="dialog"
											aria-labelledby="ModalLabel" aria-hidden="true">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="ModalLabel">Add Field</h5>
														<button type="button" class="close" data-bs-dismiss="modal"
															aria-label="Close">
															<span aria-hidden="true">×</span>
														</button>
													</div>
													<div class="modal-body">
														<input type="hidden" name="Employe" value="product">
														<div class="form-group">
															<label for="name">First name</label>
															<input class="form-control" required=""
																placeholder="First name" name="first_name" type="text"
																id="name">
														</div>
														<div class="form-group">
															<label for="name">Last name</label>
															<input class="form-control" required=""
																placeholder="Last name" name="last_name" type="text"
																id="name">
														</div>
														<div>
															<label for="name">Company</label>
															<select class="form-select" name="company">

																{% for i in company %}
																<option value="{{i.id}}">{{i.company_name}}
																</option>
																{% endfor %}
															</select>
														</div>
														<div class="form-group">
															<label for="email">Email</label>
															<input class="form-control" placeholder="email" rows="3"
																name="email" cols="50" id="priority">
														</div>
														<div class="form-group">
															<label>Featured Image</label>
															<input onchange="showPreview(event)" type="file"
																name="profile_picture" class="file-upload-default">
															<div class="input-group col-xs-12">
																<input type="text" class="form-control file-upload-info"
																	disabled="" placeholder="Upload Image">
																<span class="input-group-append">
																	<button class="file-upload-browse btn btn-primary"
																		type="button">Upload</button>
																</span>
															</div>
															<img style="display: none; width: 100px; height: 100px; margin-left: auto; margin-right: auto; padding-top: 10px;"
																id="file-ip-1-preview">
														</div>

														<button class="btn btn-primary py-2" name="action"
															value="add">Save</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>

							<!-- edit  model section start here  -->

							{% for i in object_list %}

							<!-- Security token -->

							<div class="add-modal-wrapper">
								<div class="col-md-12 stretch-card">
									<div class="modal fade" id="exampleModal{{i.id}}" tabindex="-1" role="dialog"
										aria-labelledby="ModalLabel" aria-hidden="true">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="ModalLabel">Edit Field {{i.id}}</h5>
													<button type="button" class="close" data-bs-dismiss="modal"
														aria-label="Close">
														<span aria-hidden="true">×</span>
													</button>
												</div>

												<div class="modal-body" id="">

													<form method="POST" action="." enctype="multipart/form-data">
														{% csrf_token %}

														<input type="hidden" name="object_id" value="{{i.id}}">
														<input type="hidden" name="Employe" value="product">
														<div class="form-group">
															<label for="name">First name</label>
															<input class="form-control" required="true"
																placeholder="First name" name="first_name"
																value="{{i.first_name}}" type="text" id="name">
														</div>
														<div class="form-group">
															<label for="name">Last name</label>
															<input class="form-control" required="true"
																placeholder="Last name" name="last_name" type="text"
																value="{{i.last_name}}" id="name">
														</div>
														<div>
															<label for="name">Company</label>
															<select class="form-select" name="company">

																{% for c in company %}
																<option value="{{c.id}}" {% if i.company.id == c.id %}
																	selected {% endif %}>{{c.company_name}}
																</option>
																{% endfor %}
															</select>
														</div>
														<div class="form-group">
															<label for="email">Email</label>
															<input class="form-control" placeholder="email" type="email"
																required="false" name="email" value="{{i.email}}"
																id="priority">
														</div>
														<div class="form-group">
															<label>Featured Image</label>
															<input onchange="showPreview(event)" type="file"
																name="profile_picture" class="file-upload-default">
															<div class="input-group col-xs-12">
																<input type="text" class="form-control file-upload-info"
																	disabled="" placeholder="Upload Image"
																	value="{{i.profile_picture.name}}">
																<span class="input-group-append">
																	<button class="file-upload-browse btn btn-primary"
																		type="button">Upload</button>
																</span>
															</div>
															<img src="{{i.profile_picture.url}}">
															<img style="display: none; width: 100px; height: 100px; margin-left: auto; margin-right: auto; padding-top: 10px;"
																id="file-ip-1-preview">
														</div>

														<button class="btn btn-primary py-2" name="action"
															value="update">Save</button>
													</form>

												</div>

											</div>
										</div>
									</div>
								</div>
							</div>

							{% endfor %}

							<!-- datatable section start here  -->
							<div class="card-body table-wrapper">
								<div class="row">
									<div class="col-12">
										<div id="wrapper"></div>
										<!-- <div id="grid"></div> -->
									</div>
								</div>
							</div>
							<!-- datatable section end here  -->
						</div>
						<!-- add-product section end here  -->
					</div>
				</div>
			</div>
			<!--main content section end here -->
		</div>
		<!-- rightbar section start here  -->
	</div>
	<!-- main page end here  -->


	<style>
		.gridjs-table {
			width: 100% !important;
		}
	</style>


	<script>
		function showPreview(event) {
			if (event.target.files.length > 0) {
				var src = URL.createObjectURL(event.target.files[0]);
				var preview = document.getElementById("file-ip-1-preview");
				preview.src = src;
				preview.style.display = "block";
			}
		}
	</script>
	<!-- Custom Javascript -->
	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
	<!-- <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js">
    
  </script> -->
	<!-- Bootstrap 5 Javascript -->
	<script src="{% static 'assets/vendor/BS5/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
	<!-- build:js -->
	<!-- <script src="{% static 'assets/js/app.js' %}"></script>
	<script src="{% static 'assets/js/script.js' %}"></script> -->

	<script>
		let new_data = []
	</script>

	{% for i in object_list %}
	<script>
		new_data.push(["{{i.id}}", "{{i.thumbnail.url}}", "{{i.get_full_name}}", "{{i.company}}", "{{i.email}}"])
	</script>

	{% endfor %}
	<!-- endbuild -->

	<script>
		new gridjs.Grid({
			columns: [{
					name: 'id'
				},
				{
					name: 'image',
					sort: false,
					formatter: (cell, row) => {
						return gridjs.h('img', {
							src: cell,
							style: {
								width: '100px',
								height: '100px',
								margin: 'auto',
								display: 'block'
							}
						})
					}
				}, "Full Name", "Company Name", "Email", {
					name: 'Edit',
					sort: false,
					formatter: (cell, row) => {


						return gridjs.h('button', {
							style: 'background-color: #3b82f6; color: white;',
							'data-bs-toggle': 'modal',
							'data-bs-target': `#exampleModal${row.cells[0].data}`,
						}, 'Edit');
					}
				},

			],

			sort: true,
			search: true,
			pagination: {
				enabled: true,
				limit: 5,
				summary: false
			},
			data: new_data
		}).render(document.getElementById("wrapper"));
	</script>


</body>

</html>